.main-bgImg-cont
{
    /* background-color: red; */
    width: 100vw;
    height: 98vh;
    max-height: 98vh;
    margin-top: -1.1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-bgImg-cont .mini-header
{
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.15);
    font: 800 2.1rem "Montserrat";
    /* width: 6rem; */
    /* height: 4rem; */
    border-radius: 1rem;
    padding: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px);
}
.main-bgImg-cont .info
{
    /* background-color: red; */
    /* width: 10rem; */
    height: 8rem;
    padding: 1rem;
    position: absolute;
    bottom: 1.6rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.main-bgImg-cont .info .info-table
{
    color: rgb(31, 31, 31);
    background-color: rgba(192, 192, 192, 0.817);
    width: 7rem;
    height: 100%;
    /* border: 1.5px solid rgb(31, 31, 31); */
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.12s;
}
.main-bgImg-cont .info .info-table:hover
{
    transform: translate(0, -0.5rem);
}
.main-bgImg-cont .info .info-table i
{
    scale: 2.6;
}
.main-bgImg-cont .info .info-table p
{
    margin: 0;
    font: 600 0.8rem "Montserrat";
    text-align: center;
}
.main-bgImg-cont .info .info-table p span
{
    font: 800 0.8rem "Montserrat";
}
.main-bgImg
{
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}
.transition
{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(20,20,20,1) 100%);
    /* width: 100%; */
    height: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1000; */
}

.galerie
{
    /* background-color: red; */
    width: calc(100% - 30rem);
    padding: 0 15rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.galerie div
{
    width: 100%;
    max-width: 20rem;
    height: 24rem;
}
.galerie div img
{
    width: 100%;
    height: 18rem;
    border-radius: 1rem;
    border: 1.5px solid whitesmoke;
    object-fit: cover;
}
.galerie div h3
{
    font: 600 1.1rem "Montserrat";
    margin-top: 1rem;
}