.nav-main {
  background-color: var(--bg-color-2);
  width: var(--nav-main-width);
  border-right: 1px solid var(--bg-color-3);
  padding: 1.0rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--group-gap);

  --group-gap: 1.8rem;
  --in-group-gap: 0.4rem;

  .group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--in-group-gap);

    &.group-user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;

      img {
        width: 3.0rem;
        height: 3.0rem;
        border-radius: 50%;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .name {
          font: 500 0.9rem var(--font-1);
        }
        .title {
          opacity: 0.75;
          font: 400 0.75rem var(--font-1);
        }
      }
    }
    .group-title {
      opacity: 0.5;
      font: 400 0.8rem var(--font-1);
      padding: 0 0.8rem;
    }
    .nav-link {
      width: 100%;
    }
  }
}
.nav-mobile {
  background-color: var(--bg-color-2);
  width: 100%;
  height: var(--nav-mobile-height);
  border-top: 1px solid var(--bg-color-3);
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 100;

  .group {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .nav-link {
      aspect-ratio: 1/1;
      font-size: 1.6rem;

      span {
        display: none;
      }
    }
  }
}
.project-main {
  .background-wrapper {
    background-color: var(--bg-color-3);
    width: 100%;
    max-width: var(--max-width);
    height: 12rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-top: -1.5rem;
    overflow: hidden;
    
    .background {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .project-info {
    width: 100%;
    max-width: var(--max-width);
    margin-top: -3.0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.0rem 1.2rem;

    .icon-wrapper {
      padding-left: 3vw;
      position: relative;
      top: -2.0rem;
      display: flex;
      justify-content: end;
      align-items: center;

      img {
        width: 14rem;
        height: 14rem;
        border: 6px solid var(--bg-color-1);
        border-radius: 0.8rem;
        object-fit: cover;
      }
    }
    .text {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;

      h1 {
        font: 600 2.6rem var(--font-1);
        margin: 0;
      }
      .s1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
      }
      .tech {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
      }
    }
    .description {
      max-width: 40rem;
    }
  }
}
main {
  width: calc(100% - var(--nav-main-width));
  margin-left: var(--nav-main-width);
  padding: 1.5rem 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.0rem;

  .about-me {
    width: 100%;
    max-width: var(--max-width-2);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    .pic {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;

      --size: 8rem;
    }
    .text {
      display: flex;
      flex-direction: column;
      
      .name {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        gap: 0 1.0rem;

        h1 {
          font: 700 1.8rem var(--font-1);
          margin: 0;
        }
        .title {
          opacity: 0.5;
          font: 500 1.0rem var(--font-1);
          margin-bottom: 0.3rem;
        }
      }
      p {
        font: 500 1.6rem var(--font-1);
        opacity: 0.8;
        margin: 0;
      }
    }
    .links {
      font-size: 0.9rem;
      margin-top: 1.0rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;

      a:hover {
        scale: 0.95;
      }
    }
  }
}
.contributions-container {
  width: 100%;
  max-width: var(--max-width-2);
  margin-top: -1.5rem;

  .wrapper {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;
  }
  .text {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
      
    h3 {
      opacity: 0.8;
      font: 500 1.0rem var(--font-1);
      margin: 0;
    }
    a {
      opacity: 0.5;
      color: var(--font-color-1);
      font: 500 0.9rem var(--font-1);
    }
  }
  svg {
    width: 100%;
    height: auto;
  }
}
.section {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  .section-description {
    margin-top: -1.5rem;
  }
  .links {
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;

    a {
      font: 500 0.9rem var(--font-1);
      color: var(--font-color-1);
      text-decoration: none;
      transition: .12s;

      &:hover {
        scale: 0.95;
      }
    }
  }
}
.projects-small {
  .projects-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.0rem;

    .project-item-small {
      color: var(--font-color-1);
      width: 10rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.3rem;
      text-decoration: none;
      transition: .12s;
      cursor: pointer;

      img {
        aspect-ratio: 1/1;
        width: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }
      .title {
        font: 600 1.2rem var(--font-1);
        margin: 0;
      }
      .description {
        opacity: 0.7;
        font: 400 0.8rem var(--font-1);
        margin: 0;
      }
      &:hover {
        scale: 1.05;
      }
    }
  }
}
.projects {
  width: 100%;
  max-width: var(--max-width);

  .description-wrapper {
    width: 100%;
    max-width: var(--max-width);
    padding: 1.0rem;
    border: 2px solid var(--bg-color-3);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    h2 {
      margin: 0;
      text-align: start;
    }
    p {
      margin: 0;
      text-align: start;
    }
  }
  .projects-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.0rem;

    .project-item {
      color: var(--font-color-1);
      background-color: var(--bg-color-2);
      width: 28rem;
      max-width: 90vw !important;
      border: 1px solid var(--bg-color-3);
      border-radius: 0.8rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      text-decoration: none;
      transition: .12s;
      overflow: hidden;

      &:hover {
        scale: 0.98;

        .img-cont .main {
          --size: 100%;
        }
      }
      .img-cont {
        width: 100%;
        aspect-ratio: 14/9;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .background {
          filter: grayscale(90%);
        }
        .main {
          --size: 75%;
          width: var(--size);
          height: var(--size);
          border-radius: 0.3rem;
          position: absolute;
          transition: .12s;
        }
      }
      .title {
        font: 600 1.4rem var(--font-1);
        margin: 0;
        margin-top: 0.2rem;
        padding: 0 0.8rem;
      }
      .description {
        opacity: 0.7;
        font: 400 0.9rem var(--font-1);
        margin: 0;
        padding: 0 0.8rem;
      }
      .tech {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0 0.8rem;
        padding-bottom: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;

        .tech-item-small {
          aspect-ratio: 1/1;
          height: 3.0rem;
          width: 3.0rem;

          img {
            width: 70%;
            height: 70%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
.tech-stack-small {
  width: 100%;
  max-width: var(--max-width-2);
  border: 2px solid var(--bg-color-3);
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.4rem;

  h2 {
    text-align: start;
  }
  .tech-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.0rem;
  }
  .links {
    width: 100%;

    a {
      width: 100%;
      justify-content: center;
    }
  }
}
.tech-stack {
  width: 100%;
  max-width: var(--max-width-2);

  .tech-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .tech-item-medium .name {
      margin: 0;
    }
  }
}
.readme {
  width: 100%;
  max-width: var(--max-width);
  border: 1px solid var(--bg-color-3);
  border-radius: 0.5rem;
  overflow: hidden;

  .header {
    background-color: var(--bg-color-2);
    border-bottom: 1px solid var(--bg-color-3);
    padding: 0.5rem 1.0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    i {
      opacity: 0.7;
    }
    span {
      opacity: 0.7;
      font: 300 0.9rem var(--font-1);
    }
  }
  .file {
    background-color: var(--bg-color);
    width: 100%;
    padding: 0 1.0rem;
    //display: flex;

    h2 {
      text-align: start;
    }
    .error {
      opacity: 0.7;
      font: 400 1.0rem var(--font-1);
      width: fill;
      text-align: center;
    }
  }
}
.exp-section-cont {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  gap: 0.8rem;

  .column {
    flex: 1;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .exp {
    width: 100%;
    height: fit-content;
    border: 1px solid var(--bg-color-3);
    border-radius: 0.5rem;
    overflow: hidden;

    .header {
      background-color: var(--bg-color-2);
      border-bottom: 1px solid var(--bg-color-3);
      padding: 0.5rem 1.0rem;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      i {
        opacity: 0.7;
      }
      h2 {
        opacity: 0.7;
        font: 500 1.2rem var(--font-1);
        text-align: start;
      }
    }
    .body {
      padding: 0.8rem 1.0rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      h3 {
        opacity: 0.7;
        font: 400 0.8rem var(--font-1);
        margin: 0;
      }
      a {
        color: var(--font-color-1);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      p {
        margin: 0;
      }
      .error {
        opacity: 0.7;
        font: 300 0.8rem var(--font-1);
        width: fill;
        text-align: center;
      }
      .item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .desc {
          opacity: 0.6;
          font: 400 0.8rem var(--font-1);
        }
        .tech {
          margin-bottom: 0.0rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.5rem;

          img {
            width: 1.6rem;
          }
          .tech-item-small {
            margin-top: 0.5rem;
          }
          .tech-item .text .name {
            font-size: 0.9rem;
            margin-bottom: -0.5rem;
          }
        }
        .time {
          background-color: var(--bg-color-2);
          border-radius: 0.4rem;
          padding: 0.2rem 0.5rem;
        }
      }
    }
  }
}

.back-image {
  width: 100%;
  max-width: var(--max-width);
  min-height: 12rem;
  border-radius: 0.8rem;
  padding: 3.0rem 2.0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  overflow: hidden;

  &.back-image-small {
    min-height: 0;
    padding: 0.8rem 2.0rem;

    .location {
      margin-top: 0;
    }
  }
  h1, p {
    margin: 0;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  h1 {
    font: 600 2.5rem var(--font-1);
  }
  p {
    opacity: 0.9;
    width: 100%;
    max-width: 25rem;
    font: 400 1.0rem var(--font-1);
    text-align: center;
  }
  .location {
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 0.8rem;
    border: 1px solid var(--font-color-1);
    border-radius: 2rem;
    margin-top: -1.0rem;
    padding: 0.5rem 1.0rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(5px);
  }
  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }
}
.nav-link {
  color: var(--font-color-1);
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.35rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  text-decoration: none;
  transition: .12s;

  &:hover,
  &.nav-link-active {
    background-color: var(--bg-color-3);
    border-color: var(--bg-color-4);
  }
  &.nav-link-main {
    background-color: var(--main-color-1);
    border-color: transparent;
  }
}
h2 {
  color: var(--font-color-1);
  font: 600 2.0rem var(--font-1);
  width: 100%;
  max-width: var(--max-width);
  margin: 0;
  text-align: center;
}
.section-description {
  opacity: 0.8;
  color: var(--font-color-1);
  font: 500 0.9rem var(--font-1);
  margin: 0;
}
.tech-item-small {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .img-cont {
    aspect-ratio: 1/1;
    height: 100%;
    max-height: 2.8rem;
    border: 1px solid var(--bg-color-3);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 60%;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.0rem;

    .name {
      font: 400 0.9rem var(--font-1);
    }
    .description {
      opacity: 0.7;
      font: 400 0.8rem var(--font-1);
    }
  }
}
.tech-item-medium {
  width: fit-content;
  border: 1px solid var(--bg-color-3);
  border-radius: 0.4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .img-cont {
    aspect-ratio: 1/1;
    height: 100%;
    max-height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
    }
  }
  .text {
    display: flex;
    justify-content: start;
    align-items: center;

    .name {
      font: 500 1.1rem var(--font-1);
      margin-top: -0.6rem;
    }
    .description {
      display: none;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .exp-section-cont {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .nav-main {
    display: none;
  }
  .nav-mobile {
    display: inline;
  }
  main {
    width: 100%;
    margin: 0;
    margin-bottom: var(--nav-mobile-height);
  }
}
@media only screen and (max-width: 600px) {
  main {
    .about-me {
      .pic {
        display: none;
      }
    }
  }
}