.nav-main {
  background-color: var(--bg-color-2);
  width: var(--nav-main-width);
  border-right: 1px solid var(--bg-color-3);
  padding: 1rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--group-gap);
  --group-gap: 1.8rem;
  --in-group-gap: 0.4rem;
}
.nav-main .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--in-group-gap);
}
.nav-main .group.group-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.nav-main .group.group-user img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-main .group.group-user .text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.nav-main .group.group-user .text .name {
  font: 500 0.9rem var(--font-1);
}
.nav-main .group.group-user .text .title {
  opacity: 0.75;
  font: 400 0.75rem var(--font-1);
}
.nav-main .group .group-title {
  opacity: 0.5;
  font: 400 0.8rem var(--font-1);
  padding: 0 0.8rem;
}
.nav-main .group .nav-link {
  width: 100%;
}

.project-main .background-wrapper {
  background-color: var(--bg-color-3);
  width: 100%;
  max-width: var(--max-width);
  height: 12rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  margin-top: -1.5rem;
  overflow: hidden;
}
.project-main .background-wrapper .background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-main .project-info {
  width: 100%;
  max-width: var(--max-width);
  margin-top: -3rem;
  display: flex;
  align-items: start;
  gap: 1.2rem;
}
.project-main .project-info .icon-wrapper {
  padding-left: 3vw;
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-main .project-info .icon-wrapper img {
  width: 14rem;
  height: auto;
  border: 6px solid var(--bg-color-1);
  border-radius: 0.8rem;
}
.project-main .project-info .text {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
.project-main .project-info .text h1 {
  font: 600 2.6rem var(--font-1);
  margin: 0;
}
.project-main .project-info .text .s1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.project-main .project-info .text .tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.project-main .project-info .description {
  max-width: 40rem;
}

main {
  width: calc(100% - var(--nav-main-width));
  margin-left: var(--nav-main-width);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
main .about-me {
  width: 100%;
  max-width: var(--max-width-2);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
main .about-me .pic {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  --size: 8rem;
}
main .about-me .text {
  display: flex;
  flex-direction: column;
}
main .about-me .text .name {
  display: flex;
  align-items: end;
  gap: 1rem;
}
main .about-me .text .name h1 {
  font: 700 1.8rem var(--font-1);
  margin: 0;
}
main .about-me .text .name .title {
  opacity: 0.5;
  font: 500 1rem var(--font-1);
  margin-bottom: 0.3rem;
}
main .about-me .text p {
  font: 500 1.6rem var(--font-1);
  opacity: 0.8;
  margin: 0;
}
main .about-me .links {
  font-size: 0.9rem;
  margin-top: 1rem;
  display: flex;
  gap: 0.8rem;
}
main .about-me .links a:hover {
  scale: 0.95;
}

.contributions-container {
  width: 100%;
  max-width: var(--max-width-2);
  margin-top: -1.5rem;
}
.contributions-container .wrapper {
  width: 100%;
  max-width: 34rem;
}
.contributions-container .text {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.contributions-container .text h3 {
  opacity: 0.8;
  font: 500 1rem var(--font-1);
  margin: 0;
}
.contributions-container .text a {
  opacity: 0.5;
  color: var(--font-color-1);
  font: 500 0.9rem var(--font-1);
}
.contributions-container svg {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.section .section-description {
  margin-top: -1.5rem;
}
.section .links {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
}
.section .links a {
  font: 500 0.9rem var(--font-1);
  color: var(--font-color-1);
  text-decoration: none;
  transition: 0.12s;
}
.section .links a:hover {
  scale: 0.95;
}

.projects-small .projects-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.projects-small .projects-cont .project-item-small {
  color: var(--font-color-1);
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  text-decoration: none;
  transition: 0.12s;
  cursor: pointer;
}
.projects-small .projects-cont .project-item-small img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects-small .projects-cont .project-item-small .title {
  font: 600 1.2rem var(--font-1);
  margin: 0;
}
.projects-small .projects-cont .project-item-small .description {
  opacity: 0.7;
  font: 400 0.8rem var(--font-1);
  margin: 0;
}
.projects-small .projects-cont .project-item-small:hover {
  scale: 1.05;
}

.projects {
  width: 100%;
  max-width: var(--max-width);
}
.projects .description-wrapper {
  width: 100%;
  max-width: var(--max-width);
  padding: 1rem;
  border: 2px solid var(--bg-color-3);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}
.projects .description-wrapper h2 {
  margin: 0;
  text-align: start;
}
.projects .description-wrapper p {
  margin: 0;
  text-align: start;
}
.projects .projects-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.projects .projects-cont .project-item {
  color: var(--font-color-1);
  background-color: var(--bg-color-2);
  width: 28rem;
  border: 1px solid var(--bg-color-3);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-decoration: none;
  transition: 0.12s;
  overflow: hidden;
}
.projects .projects-cont .project-item:hover {
  scale: 0.98;
}
.projects .projects-cont .project-item:hover .img-cont .main {
  --size: 100%;
}
.projects .projects-cont .project-item .img-cont {
  width: 100%;
  aspect-ratio: 14/9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.projects .projects-cont .project-item .img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .projects-cont .project-item .img-cont .background {
  filter: grayscale(90%);
}
.projects .projects-cont .project-item .img-cont .main {
  --size: 75%;
  width: var(--size);
  height: var(--size);
  border-radius: 0.3rem;
  position: absolute;
  transition: 0.12s;
}
.projects .projects-cont .project-item .title {
  font: 600 1.4rem var(--font-1);
  margin: 0;
  margin-top: 0.2rem;
  padding: 0 0.8rem;
}
.projects .projects-cont .project-item .description {
  opacity: 0.7;
  font: 400 0.9rem var(--font-1);
  margin: 0;
  padding: 0 0.8rem;
}
.projects .projects-cont .project-item .tech {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.projects .projects-cont .project-item .tech .tech-item-small {
  aspect-ratio: 1/1;
  height: 3rem;
  width: 3rem;
}
.projects .projects-cont .project-item .tech .tech-item-small img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tech-stack-small {
  width: 100%;
  max-width: var(--max-width-2);
  border: 2px solid var(--bg-color-3);
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.4rem;
}
.tech-stack-small h2 {
  text-align: start;
}
.tech-stack-small .tech-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.tech-stack-small .links {
  width: 100%;
}
.tech-stack-small .links a {
  width: 100%;
  justify-content: center;
}

.tech-stack {
  width: 100%;
  max-width: var(--max-width-2);
}
.tech-stack .tech-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.tech-stack .tech-cont .tech-item-medium .name {
  margin: 0;
}

.readme {
  width: 100%;
  max-width: var(--max-width);
  border: 1px solid var(--bg-color-3);
  border-radius: 0.5rem;
  overflow: hidden;
}
.readme .header {
  background-color: var(--bg-color-2);
  border-bottom: 1px solid var(--bg-color-3);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.readme .header i {
  opacity: 0.7;
}
.readme .header span {
  opacity: 0.7;
  font: 300 0.9rem var(--font-1);
}
.readme .file {
  background-color: var(--bg-color);
  width: 100%;
  padding: 0 1rem;
}
.readme .file h2 {
  text-align: start;
}
.readme .file .error {
  opacity: 0.7;
  font: 400 1rem var(--font-1);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  text-align: center;
}

.exp-section-cont {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  gap: 0.8rem;
}
.exp-section-cont .column {
  flex: 1;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.exp-section-cont .exp {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid var(--bg-color-3);
  border-radius: 0.5rem;
  overflow: hidden;
}
.exp-section-cont .exp .header {
  background-color: var(--bg-color-2);
  border-bottom: 1px solid var(--bg-color-3);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.exp-section-cont .exp .header i {
  opacity: 0.7;
}
.exp-section-cont .exp .header h2 {
  opacity: 0.7;
  font: 500 1.2rem var(--font-1);
  text-align: start;
}
.exp-section-cont .exp .body {
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.exp-section-cont .exp .body h3 {
  opacity: 0.7;
  font: 400 0.8rem var(--font-1);
  margin: 0;
}
.exp-section-cont .exp .body p {
  margin: 0;
}
.exp-section-cont .exp .body .error {
  opacity: 0.7;
  font: 300 0.8rem var(--font-1);
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  text-align: center;
}
.exp-section-cont .exp .body .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.exp-section-cont .exp .body .item .desc {
  opacity: 0.6;
  font: 400 0.8rem var(--font-1);
}
.exp-section-cont .exp .body .item .time {
  background-color: var(--bg-color-2);
  border-radius: 0.4rem;
  padding: 0.2rem 0.5rem;
}

.back-image {
  width: 100%;
  max-width: var(--max-width);
  min-height: 12rem;
  border-radius: 0.8rem;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  overflow: hidden;
}
.back-image.back-image-small {
  min-height: 0;
  padding: 0.8rem 2rem;
}
.back-image.back-image-small .location {
  margin-top: 0;
}
.back-image h1, .back-image p {
  margin: 0;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
.back-image h1 {
  font: 600 2.5rem var(--font-1);
}
.back-image p {
  opacity: 0.9;
  width: 100%;
  max-width: 25rem;
  font: 400 1rem var(--font-1);
  text-align: center;
}
.back-image .location {
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 0.8rem;
  border: 1px solid var(--font-color-1);
  border-radius: 2rem;
  margin-top: -1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.back-image img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.nav-link {
  color: var(--font-color-1);
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.35rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  text-decoration: none;
  transition: 0.12s;
}
.nav-link:hover, .nav-link.nav-link-active {
  background-color: var(--bg-color-3);
  border-color: var(--bg-color-4);
}
.nav-link.nav-link-main {
  background-color: var(--main-color-1);
  border-color: transparent;
}

h2 {
  color: var(--font-color-1);
  font: 600 2rem var(--font-1);
  width: 100%;
  max-width: var(--max-width);
  margin: 0;
  text-align: center;
}

.section-description {
  opacity: 0.8;
  color: var(--font-color-1);
  font: 500 0.9rem var(--font-1);
  margin: 0;
}

.tech-item-small {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.tech-item-small .img-cont {
  aspect-ratio: 1/1;
  height: 100%;
  max-height: 2.8rem;
  border: 1px solid var(--bg-color-3);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-item-small .img-cont img {
  height: 60%;
}
.tech-item-small .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0rem;
}
.tech-item-small .text .name {
  font: 400 0.9rem var(--font-1);
}
.tech-item-small .text .description {
  opacity: 0.7;
  font: 400 0.8rem var(--font-1);
}

.tech-item-medium {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--bg-color-3);
  border-radius: 0.4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tech-item-medium .img-cont {
  aspect-ratio: 1/1;
  height: 100%;
  max-height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-item-medium .img-cont img {
  height: 100%;
}
.tech-item-medium .text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.tech-item-medium .text .name {
  font: 500 1.1rem var(--font-1);
  margin-top: -0.6rem;
}
.tech-item-medium .text .description {
  display: none;
}

@media only screen and (max-width: 1030px) {
  .exp-section-cont {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */