.nav-main {
  background-color: var(--bg-color-2);
  width: var(--nav-main-width);
  border-right: 1px solid var(--bg-color-3);
  padding: 1rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--group-gap);
  --group-gap: 1.8rem;
  --in-group-gap: 0.4rem;
}
.nav-main .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--in-group-gap);
}
.nav-main .group.group-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.nav-main .group.group-user img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav-main .group.group-user .text {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.nav-main .group.group-user .text .name {
  font: 500 0.9rem var(--font-1);
}
.nav-main .group.group-user .text .title {
  opacity: 0.75;
  font: 400 0.75rem var(--font-1);
}
.nav-main .group .group-title {
  opacity: 0.5;
  font: 400 0.8rem var(--font-1);
  padding: 0 0.8rem;
}
.nav-main .group .nav-link {
  color: var(--font-color-1);
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.35rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  text-decoration: none;
  transition: 0.12s;
}
.nav-main .group .nav-link:hover, .nav-main .group .nav-link.nav-link-active {
  background-color: var(--bg-color-3);
  border-color: var(--bg-color-4);
}

main {
  width: calc(100% - var(--nav-main-width));
  margin-left: var(--nav-main-width);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main .about-me {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
main .about-me .pic {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  --size: 10rem;
}
main .about-me .text {
  display: flex;
  flex-direction: column;
}
main .about-me .text .name {
  display: flex;
  align-items: end;
  gap: 1rem;
}
main .about-me .text .name h1 {
  font: 700 1.8rem var(--font-1);
  margin: 0;
}
main .about-me .text .name .title {
  opacity: 0.5;
  font: 500 1rem var(--font-1);
  margin-bottom: 0.3rem;
}
main .about-me .text p {
  font: 500 1.8rem var(--font-1);
  opacity: 0.8;
  margin: 0;
}

.back-image {
  width: 100%;
  max-width: var(--max-width);
  min-height: 12rem;
  border-radius: 0.8rem;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  overflow: hidden;
}
.back-image.back-image-small {
  min-height: 0;
  padding: 0.8rem 2rem;
}
.back-image.back-image-small .location {
  margin-top: 0;
}
.back-image h1, .back-image p {
  margin: 0;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.back-image h1 {
  font: 600 3rem var(--font-1);
}
.back-image p {
  opacity: 0.8;
  font: 400 1rem var(--font-1);
}
.back-image .location {
  opacity: 0.75;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  border: 1px solid var(--font-color-1);
  border-radius: 2rem;
  margin-top: -1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.back-image img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.contributions-container {
  width: 36rem;
  max-width: var(--max-width);
}
.contributions-container svg {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */